html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
img {
  max-width: 100%;
}
/* HEADER -------------------------*/
#header {
  max-width: 1020px;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
#header ul {
  display: flex;
  flex-wrap: wrap;
}
#header ul li {
  font-family: Titillium Web;
  font-size: 1.2rem;
  margin-right: 10px;
  color: #8b8b8b;
  font-weight: 500;
}
#header ul li:first-child {
  color: #3d3d3d;
}

/* INTRODUÇÃO -------------------------*/
#intro {
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 100px;
}
#imagens-intro {
  display: flex;
  justify-content: center;
}
#intro img {
  display: block;
  margin: 0 20px 0 0;
}
#texto {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
}
#intro img:last-child {
  margin: 0;
}
#intro h1 {
  font-family: titillium web;
  font-size: 3rem;
  color: #fc3465;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 30px;
  font-weight: 500;
}
#intro p {
  max-width: 550px;
  margin-top: 20px;
  font-size: 0.9rem;
  line-height: 1.6rem;
  font-family: titillium web;
  letter-spacing: 0.1rem;
  margin: 0 auto;
}
#span-intro {
  color: #fc3465;
  font-weight: 700;
}
#span-intro2 {
  color: #673cbc;
  font-weight: 700;
}
#botoes {
  display: flex;
  justify-content: center;
  align-items: center;
}
#botoes a {
  margin-top: 30px;
}
#botoes a:first-child {
  font-family: Pacifico;
  font-size: 1.4rem;
  background-color: #ff7e9e;
  padding: 10px 50px;
  width: 150px;
  text-align: center;
  border-radius: 15px;
  margin-left: -10px;
  margin-right: 20px;
  font-weight: 100;
}
#botoes a:first-child:hover {
  background-color: #ff2057;
  color: #ffffff;
}
#botoes a:last-child {
  font-family: Pacifico;
  font-size: 1.4rem;
  display: block;
  color: #ffffff;
  background-color: #652e60;
  padding: 10px 0px;
  width: 150px;
  text-align: center;
  border-radius: 15px;
}
#botoes a:last-child:hover {
  background-color: #c23cb6;
  color: black;
}
#eventos {
  max-width: 1020px;
  margin: 0 auto;
  text-align: center;
}
#eventos h1 {
  font-family: Pacifico;
  font-size: 3rem;
  color: #a200ff;
  margin-top: 50px;
  margin-bottom: 50px;
}
#eventos-info {
  display: flex;
}
#eventos-texto {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}
#eventos-texto p {
  font-family: Titillium Web;
  font-size: 1rem;
}
#data {
  font-size: 1rem;
  color: #f93d6a;
  font-weight: 700;
}
#doutora {
  color: #a200ff;
  font-weight: 700;
}
#eventos-img {
  display: flex;
  align-items: center;
}
@media (max-width: 720px) {
  #imagens-intro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  #eventos-info {
    display: flex;
    flex-wrap: wrap;
  }
}
#saiba {
  max-width: 920px;
  margin: 0 auto;
}
#saiba h1 {
  text-align: center;
  color: #a200ff;
  font-family: Pacifico;
  font-size: 2.5rem;
  margin-top: 15px;
}
#laranja {
  color: #fc3465;
}
#saiba p {
  margin: 10px 0;
  font-family: Titillium Web;
  font-size: 1.1rem;
  letter-spacing: 0.2px;
}
#cordefundo {
  background-color: #fc3465;
  padding: 20px;
  margin-top: 50px;
}
#contrate {
  max-width: 1020px;
  display: flex;
  margin: 40px auto 40px auto;
  justify-content: space-between;
  align-items: center;
}
#contrate p {
  font-family: Titillium Web;
  font-size: 1.5rem;
  font-weight: bold;
}
#contrate h2 {
  width: 250px;
  background-color: #ffdede;
  font-family: Pacifico;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
#container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffdede;
  padding: 50px;
}

#textos-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  margin-left: 100px;
}
#textos-footer img {
  max-width: 400px;
}
#colaboradores {
  margin-top: -150px;
}
#colaboradores p {
  font-family: Titillium Web;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 150px;
}

#textos-footer p {
  font-family: Titillium Web;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0;
}
#img-footer {
  display: flex;
}
#img-footer img:first-child {
  margin-right: 40px;
}
#img-footer img:last-child {
  margin-right: 100px;
}
@media (max-width: 720px) {
  #img-footer {
    text-align: center;
  }
  #img-footer img {
    margin: 20px 0;
  }
  #colaboradores {
    margin-top: 0px;
    text-align: center;
    margin: 0 auto;
  }
  #img-footer img:last-child {
    margin-left: 0px;
  }
  #img-footer img:first-child {
    margin-right: 0px;
  }

  #container-footer {
    flex-wrap: wrap;
  }
  #img-footer {
    flex-wrap: wrap;
    margin: 0 auto;
    display: block;
  }
  #textos-footer {
    margin-left: 0px;
    margin: 0 auto;
  }
  #colaboradores p {
    margin-top: 30px;
  }
}
footer {
  background-color: #fc3465;
}
#footer {
  max-width: 1020px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}
#footer p {
  font-family: Titillium Web;
  font-size: 1rem;
}
#footer ul {
  display: flex;
}
#footer ul li {
  margin: 0 20px;
  font-family: Titillium Web;
  font-size: 1rem;
}
@media (max-width: 720px) {
  #footer {
    justify-content: center;
  }
}
